.progress {
  background-color: var(--color-white);
  border-radius: 10px;
  position: relative;
  margin: 0.5rem 0;
  height: 1rem;
  width: 10rem;
}

.progress-done {
  background: linear-gradient(
    to left,
    var(--color-primary-variant),
    var(--color-primary)
  );
  border-radius: 10px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 0;
  transition: var(--transition);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .progress {
    width: 5rem;
  }
}
